.text-size-small {
    font-size: var(--text-size-small);
}

.meta-text-color {
    color: var(--meta-text-color);
}

.bold {
    font-weight: bold;
}

.medium {
    font-weight: 500;
}

.serifa {
    font-family: "Source Serif 4", serif;
}

.step-1 {
    font-size: var(--step-1);
}
