<footer>
  <nav class="footer-nav">
    <div class="footer-heading">
      <span class="logo">Irene</span>
      <ul class="social-icons">
        <li>
          <a href="#">
            {%- include "components/icons/x" -%}
          </a>
        </li>
        <li>
          <a href="#">
            {%- include "components/icons/instagram" -%}
          </a>
        </li>
        <li>
          <a href="#">
            {%- include "components/icons/facebook" -%}
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-grid">
      <div class="footer-column">
        <ul>
          <li>
            <a href="">Mapa del sitio</a>
          </li>
          <li>
            <a href="">Contacto</a>
          </li>
        </ul>
       
      </div>
    </div>
  </nav>
  <div class="made-by">
      <p>Sitio web desarrollado por @DiegoAz</p>
  </div>
</footer>
