<button class="hamburger hamburger--squeeze" type="button" aria-expanded="false" aria-controls="menu-list" aria-label="Menú">
    <span class="hamburger-box">
        <span class="hamburger-inner"></span>
    </span>
    <span class="hamburger-label">Menú</span>
</button>