<header>
    <button class="menu-toggle" aria-label="Toggle menu" aria-expanded="false">
        {% include "components/hamburger-icon.liquid" %}
        <span class="menu-text">Menú</span>
    </button>
    <div class="header-logo">
        <a href="#">Irene</a>
    </div>
    {% include "components/theme-selector.liquid" %}
</header>
