{% assign currentPage = navigation.es | where: "url", page.url | first %}
{% assign pageTitle = currentPage.title | default: title %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>{{ pageTitle }}</title>
        {% comment %} Inter font {% endcomment %}
        <link rel="preconnect" href="https://rsms.me/">
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
        <link rel="stylesheet" href="/css/style.css" />
    </head>
</html>
