<header>
    <button class="menu-toggle" aria-label="Toggle menu" aria-expanded="false">
        {% include "components/hamburger-icon.liquid" %}
        <span class="menu-text">Menú</span>
    </button>
    <a href="#">Irene</a>
</header>
