<header>
    <button class="menu-toggle" aria-label="Toggle menu" aria-expanded="false">
        {% include "components/hamburger-icon.liquid" %}
        <span class="menu-text">Menú</span>
    </button>
    <a class="logo" href="/index.html">
        {%  include "components/logo.liquid"  %}
    </a>
    {% include "components/theme-selector.liquid" %}
</header>
