<nav class="in-this-page">
  <span>Conteúdo:</span>
    <ol>
    {% for section in sections %}
        <li><a href="#{{ section.id}}" class="internal-link">{{ section.title }}</a></li>
    {% endfor %}
    </ol>
</nav>
