<nav class="in-this-page" id="toc">
  <span>{{ toc.heading }}</span>
    <ol>
      {% for section in sections %}
        <li>
          <a href="#{{ section.id}}" class="internal-link">
            {{ section.title }}
          </a>
        </li>
      {% endfor %}
    </ol>
</nav>
