{% assign nested_is_expanded = false %}

{% comment %} Verificar si hay una página activa en los hijos anidados {% endcomment %}
{% for nested_child in child.children %}
    {% if page.url contains nested_child.activePattern %}
        {% assign nested_is_expanded = true %}
        {% break %}
    {% endif %}
{% endfor %}

<li>
    <ul class="parent nested-parent {% if nested_is_expanded %}expanded{% endif %}" data-menu-item="{{ child.title }}">
        <li class="title">
            <button class="link">
                <span>{{ child.title }}</span>
                {% include "components/chevron-icon.liquid" %}
            </button>
        </li>
        <li>
            <ul class="children">
                {% for nested_child in child.children %}
                    <li>
                        <a href="{{ nested_child.url }}" {% if page.url contains nested_child.activePattern %}class="active"{% endif %}>
                            {{ nested_child.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</li>
