<div class="main-container">
    <div class="swiper main-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                    <img src="/img/inicio/carrusel/01_irene_carrusel.jpg" alt="Imagen 1" loading="eager">
            </div>
            <div class="swiper-slide">
                <img src="/img/inicio/carrusel/02_estudiantes_soc_carrusel.jpg" alt="Imagen 2" loading="eager">
            </div>
            <div class="swiper-slide">
                <img src="/img/inicio/carrusel/03_libro_carrusel.jpg" alt="Imagen 3" loading="eager">
            </div>
            <div class="swiper-slide">
                <img src="/img/inicio/carrusel/04_estudiantes_carrusel.jpg" alt="Imagen 4" loading="eager">
            </div>
            <div class="swiper-slide">
                <img src="/img/inicio/carrusel/05_libro_carrusel.jpg" alt="Imagen 5" loading="eager">
            </div>
            <div class="swiper-slide">
                <img src="/img/inicio/carrusel/06_viota_carrusel.jpg" alt="Imagen 6" loading="eager">
            </div>
            <div class="swiper-slide">
                <img src="/img/inicio/carrusel/07_libro_carrusel.jpg" alt="Imagen 7" loading="eager">
            </div>
            <div class="swiper-slide">
                <img src="/img/inicio/carrusel/08_fortaleza_carrusel.jpg" alt="Imagen 8" loading="eager">
            </div>
            <div class="swiper-slide">
                <img src="/img/inicio/carrusel/09_libro_carrusel.jpg" alt="Imagen 9" loading="eager">
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>
