<div class="main-container">
    <div class="swiper main-swiper">
        <div class="swiper-wrapper">
            <!-- Slide 1 -->
            <div class="swiper-slide main-slide">
                <div class="nested-carousel">
                    <div class="swiper nested-swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide nested-slide">
                                <img src="/img/inicio/carrusel/03_libro_carrusel.png" alt="Imagen 1">
                            </div>
                            <div class="swiper-slide nested-slide">
                                <img src="/img/inicio/carrusel/05_libro_carrusel.png" alt="Imagen 2">
                            </div>
                            <div class="swiper-slide nested-slide">
                                <img src="/img/inicio/carrusel/07_libro_carrusel.png" alt="Imagen 3">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="description">
                    <!-- <h2>Título 1</h2> -->
                    <p>Texto sobre el libro</p>
                </div>
            </div>
            <!-- Slide 2 -->
            <div class="swiper-slide main-slide">
                <div class="nested-carousel">
                    <div class="swiper nested-swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide nested-slide">
                                <img src="/img/inicio/carrusel/02_estudiantes_soc_carrusel.jpg" alt="Imagen 1">
                            </div>
                            <div class="swiper-slide nested-slide">
                                <img src="/img/inicio/carrusel/04_estudiantes_carrusel.jpg" alt="Imagen 2">
                            </div>
                            <div class="swiper-slide nested-slide">
                                <img src="/img/inicio/carrusel/06_viota_carrusel.jpg" alt="Imagen 3">
                            </div>
                            <div class="swiper-slide nested-slide">
                                <img src="/img/inicio/carrusel/08_fortaleza_carrusel.jpg" alt="Imagen 3">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="description">
                    <!-- <h2>Título 1</h2> -->
                    <p>Texto sobre los impactos</p>
                </div>
            </div>
            <!-- Slide 3 -->
            <div class="swiper-slide main-slide">
                <div class="nested-carousel">
                    <div class="swiper nested-swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide nested-slide">
                                <img src="/img/inicio/carrusel/03_libro_carrusel.png" alt="Imagen 1">
                            </div>
                            <div class="swiper-slide nested-slide">
                                <img src="/img/inicio/carrusel/05_libro_carrusel.png" alt="Imagen 2">
                            </div>
                            <div class="swiper-slide nested-slide">
                                <img src="/img/inicio/carrusel/07_libro_carrusel.png" alt="Imagen 3">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="description">
                    <!-- <h2>Título 1</h2> -->
                    <p>Texto sobre...</p>
                </div>
            </div>
        </div>
    </div>
    <div class="navigation-container">
        <div class="nav-button prev-button">&lt;</div>
        <div class="fraction"></div>
        <div class="nav-button next-button">&gt;</div>
    </div>
</div>
