{% include "head.html" %}
<header>
    <button class="menu-toggle" aria-label="Toggle menu" aria-expanded="false">
        <svg class="hamburger" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20" aria-hidden="true">
            <path d="M4,8L12,8L20,8M4,12L20,12M4,16L12,16L20,16">
                <animate dur="0.1s" attributeName="d"
                    values="M4,8L12,8L20,8M4,12L20,12M4,16L12,16L20,16;M6,6L12,12L18,6M12,12L12,12M6,18L12,12L18,18"
                    fill="freeze" begin="start.begin" />
                <animate dur="0.1s" attributeName="d"
                    values="M6,6L12,12L18,6M12,12L12,12M6,18L12,12L18,18;M4,8L12,8L20,8M4,12L20,12M4,16L12,16L20,16"
                    fill="freeze" begin="reverse.begin" />
            </path>
            <rect width="24" height="24" stroke="none">
                <animate dur="2s" id="reverse" attributeName="width" begin="click" />
            </rect>
            <rect width="24" height="24" stroke="none">
                <animate dur="0.001s" id="start" attributeName="width" values="24;0" fill="freeze" begin="click" />
                <animate dur="0.001s" attributeName="width" values="0;24" fill="freeze" begin="reverse.begin" />
            </rect>
        </svg>
        <span class="menu-text">Menú</span>
    </button>
    <a href="#">Irene</a>
</header>

<div class="layout-sidebar">
    <div class="sidebar">
        <nav>
            <ul>
                <li>
                    <a href="#" {% if pageId=="home" %}class="active link" {% endif %}>Inicio</a>
                </li>
                <li><a href="#">Guía</a></li>
            </ul>
        </nav>
        <nav>
            <ul class="parent">
                <li class="title">
                    <button class="link">
                        <span>Unidades</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="m9 18 6-6-6-6"></path>
                        </svg>
                    </button>
                </li>

                <li>
                    <ul class="children">
                        <li>
                            <a href="#">Unidad 1</a>
                        </li>
                        <li><a href="#">Unidad 2</a></li>
                        <li><a href="#">Unidad 3</a></li>
                        <li><a href="#">Unidad 4</a></li>
                        <li><a href="#">Unidad 5</a></li>
                        <li><a href="#">Unidad 6</a></li>
                        <li><a href="#">Unidad 7</a></li>
                        <li><a href="#">Unidad 8</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="#">Noticias</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </div>

    <main class="non-sidebar">
        <div class="center">
            {{ content }}
        </div>
    </main>
</div>
<div class="overlay"></div>
<script src="js/script.js"></script>