{% include "components/head.liquid" %}
<body>
    {% include "components/header.liquid" %}
    
    <div class="layout-sidebar">
        {% include "components/sidebar.liquid" %}
        
        <main class="non-sidebar">
            <div class="center">
                {{ content }}
            </div>
        </main>
    </div>
    
    {% include "components/overlay.liquid" %}
    {% include "components/scripts.liquid" %}
</body>
</html>
