{% include "components/head.liquid" %}
<body class="no-transition">
    {% include "components/header.liquid" %}

    <div class="layout-sidebar">
        {% include "components/sidebar.liquid" %}

        <main class="non-sidebar">
            <div class="center">
                <h1>{{ title }}</h1>
                {% if button and button.href and button.text %}
                <a href="{{ button.href }}" class="button" download>
                {% include "components/download-icon.liquid" %}
                <span>{{ button.text }}</span>  
                </a>
                {% endif %}
                {% include "components/in-this-page.liquid" %}
                <article class="long-page">
                    {{ content }}
                </article>
            </div>
        </main>
    </div>

    {% include "components/overlay.liquid" %}
    {% include "components/scripts.liquid" %}
</body>
</html>
