{% include "components/head.liquid" %}
<body class="no-transition">
    {% include "components/header.liquid" %}

    <div class="layout-sidebar">
        {% include "components/sidebar.liquid" %}

        <main class="non-sidebar">
            <div class="center">
                <h1>{{ title }}</h1>
                {% include "components/in-this-page.liquid" %}
                <article class="long-page">
                    {{ content }}
                    </article>
                    
                    {% if buttons %}
                        <hr class="dashed">
                        <section class="section">
                            <div class="heading">
                                {% include "components/download-icon.liquid" %}
                                <span>Baixar guias</span>
                            </div>
                            <div class="buttons">
                                {% for button in buttons %}
                                {% include "components/button.liquid"%}
                                {% endfor %}
                            </div>
                        </section>
                        <hr class="dashed">
                    {% endif %}
                    

            </div>
        </main>
    </div>

    {% include "components/overlay.liquid" %}
    {% include "components/scripts.liquid" %}
</body>
</html>
