{% include "components/head.liquid" %}
<body class="no-transition">
    {% include "components/header.liquid" %}

    <div class="layout-sidebar">
        {% include "components/sidebar.liquid" %}

        <main class="non-sidebar">
            <div class="center">
                <h1>{{ title }}</h1>
                <a class="hyperlink internal-link" href="{{ href }}">
                    {% include "components/download-icon.liquid" %}
                    <span>{{ hyperlink }}</span>
                    
                </a>
                
                    <div class="img-container">
                        <img src="/img/recursos-didacticos/guia-socratica/socrates-portada.png" alt="Busto de Sócrates pensativo"
                            class="guide-image" id="portada">
                        {% include "components/in-this-page.liquid" %}
                    </div>
              
                <article class="long-page">
                    {{ content }}
                    </article>
            </div>
        </main>
    </div>

    {% include "components/overlay.liquid" %}
    {% include "components/scripts.liquid" %}
</body>
</html>
