---
layout: layouts/base.liquid
---

<article class="testimonial">
  <h1>{{ title }}</h1>
  
  {% include "testimonials/testimonial-meta.liquid" %}
  
  {% if videos %}
    {% for video in videos %}
      {% include "testimonials/testimonial-video.liquid" %}
    {% endfor %}
  {% endif %}

  <div class="testimonial-content">
    {{ content }}
  </div>

  {% if images %}
    {% include "testimonials/testimonial-gallery.liquid" %}
  {% endif %}
</article>
