.btn {
    display: grid;
    grid-template-columns: 9fr 1fr;
    align-items: center;
    gap: var(--space-xs);
    text-decoration: none;
    outline: 0;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    height: var(--space-l);
    padding-inline: var(--space-xs);
    background-color: var(--button-bg);
    color: var(--buton-color);
    font-size: var(--step--1);
    /* border: 1px solid var(--button-border); */
    margin: var(--space-2xs) 0;

    &:hover {
        background-color: var(--button-hv-bg);
    }
}

.btn-download {
    .text {
        justify-self: start;
        font-size: 0.875rem;
    }
}

.btn-s {
    max-width: 50%;
}
