.main-container {
    width: 100%;
}

.swiper-wrapper {
    align-items: flex-end;
}

.swiper-slide {
    border-radius: 8px;
}

.swiper-slide img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
}

/* Ajustar posición de la paginación */
.swiper-pagination {
    position: relative !important;
    bottom: auto !important;
    /* margin-top: 20px; */
}

.swiper-pagination-bullet {
    background-color: var(--carousel-bullet-not-active) !important;
    opacity: 0.3 !important;
}
.swiper-pagination-bullet-active {
    background-color: var(--carousel-bullet-active) !important;
    opacity: 1 !important;
}

/* .swiper-pagination-bullet-active-main {
    background-color: var(--border-color) !important;
} */

/* Prevenir selección */
.main-container,
.navigation-container,
.nav-button,
.fraction {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
