footer {
    border-top: 5px double var(--border-color);
    padding-top: var(--space-s);
    font-size: var(--step--2);
    font-family: "Source Serif 4", serif;
    margin-top: var(--space-s);
}

.footer-nav-heading {
    margin-bottom: var(--space-s);
    display: block;
    font-weight: bold;
    font-size: var(--step-0);
}

.footer-grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 2rem;
}

.footer-column {
    margin-bottom: 1rem;
}

.footer-heading {
    font-weight: bold;
    display: block;
    margin-bottom: var(--space-2xs);
    /* text-transform: uppercase; */
    /* font-size: 0.9em; */
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0 0 1.5rem 0;
}

.footer-column ul li {
    margin-bottom: var(--space-3xs);
}

.footer-column ul li a {
    text-decoration: none;
    color: inherit;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    align-items: center;
    gap: var(--space-2xs);

    .icon {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        opacity: 1;
    }
}

.icon.icon-instagram {
    -webkit-mask-image: url('/img/inicio/logos/instagram.svg');
    mask-image: url('/img/inicio/logos/instagram.svg');
}

.icon.icon-tiktok {
    -webkit-mask-image: url('/img/inicio/logos/tiktok.svg');
    mask-image: url('/img/inicio/logos/tiktok.svg');
}

.icon.icon-facebook {
    -webkit-mask-image: url('/img/inicio/logos/facebook.svg');
    mask-image: url('/img/inicio/logos/facebook.svg');
}

.icon {
    background-color: var(--icon-primary);
    flex-shrink: 0;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    vertical-align: middle;
    /* --size: var(--icon-size, 1rem); */
    /* display: inline-block; */
    /* height: var(--size); */
    /* width: var(--size); */
}


.made-by {
    text-align: right;
}
