header {
    position: sticky;
    height: var(--header-height);
    top:0;
    width: 100%;
    z-index: var(--z-index-header);
    padding-inline: var(--space-xs);
    padding-block: var(--space-xs); 
    background-color: var(--background-color);
    color: var(--text-color);
    border-block-end: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}



a.logo {
    display: flex;
    line-height: 1;
    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    color: var(--text-color);
    text-decoration: none;
    font-size: var(--step-6);

    @media (min-width: 51.25rem) {
        padding-left: var(--space-xs)
    }
}
