header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: var(--space-xs);
    block-size: var(--header-height);
    background-color: var(--background-color);
    color: var(--text-color);
    border-block-end: 1px dashed var(--border-color);
    /* added for toggle */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: var(--z-index-header);
}



a.logo {
    display: flex;
    line-height: 1;

    @media (min-width: 51.25em) {
        padding-left: var(--space-xs)
    }

    svg {
        width:4rem;
        height: 100%;
        path {
            fill: var(--text-color);
        }
    }
}
