/* .img-container {
    display: flow-root;
} */

.guide-image {
    padding: var(--space-3xs);
    height: auto;
}

#cover {
    margin-top: var(--space-xs);
    width: 100%;
    height: auto;
}

#bust1 {
    margin-top: var(--space-3xs);
    width: 30%;

    @media (max-width: 39.375rem) {
        width: 40%;
    }
    @media (max-width: 20rem) {
        width: 56%;
    }
}

#thinking {
    margin-top: var(--space-2xs);
    @media (max-width: 20rem) {
        width: 41%;
    }
}

#bust2 {
    width: 40%;
    margin-top: var(--space-2xs);
    /* height: auto; */
    @media (max-width: 500px) {
        width: 50%;
    }
}

#sculpture1 {
    margin-top: var(--space-2xs);
    width: 100%;
}

#eight {
    margin-top: var(--space-2xs);
}

#sculpture2 {
    width: 90%;
}

.w-60 {
    width: 60%;
}

.w-50 {
    width: 50%;
}

.w-40 {
    width: 40%;
}

.w-30 {
    width: 30%;
}

.f-right {
    float: right;
}

.f-left {
    float: left;
}

.clearfix {
    clear: both;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.m-right {
    margin-right: var(--space-xs);
}

.m-left {
    margin-left: var(--space-xs);
}

.centered {
    margin-left: auto;
    margin-right: auto;
}
