.img-container {
    display: flow-root;
}

.guide-image {
    border: 1px solid var(--border-color);
    padding: var(--space-3xs);
    height: auto;
    /* margin-left: var(--space-s) */
}

#portada {
    margin-top: 0;
    width: 40%;
    height: auto;

    @media (max-width: 468px) {
        width: 46%;
    }
    
}

#tech {
    margin-top: 0;
}

#busto {
    margin-top: 0;
    width: 32%;
    @media (max-width: 39.375rem) {
        width: 40%;
    }
    @media (max-width: 20rem) {
        width: 56%;
    }
}


#thinking {
    @media (max-width: 20rem) {
        width: 41%;
    }
}

#reflexao {
    width: 65%;
    @media (max-width: 468px) {
        width: 70%;
    }
}

#head {
    width: 30%;
    margin-top: var(--space-m);
    /* height: auto; */
    @media (max-width: 500px) {
        width: 50%;
        
    }
}

.li-block {
    margin-bottom: var(--space-xs);
}

.w-60 {
    width: 60%;
}

.w-50 {
    width: 50%;
}

.w-40 {
    width: 40%;
}

.w-30 {
    width: 30%;
}

.f-right{
    float: right;
}

.f-left {
    float: left;
}

.clearfix {
    clear: both;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.m-right {
    margin-right: var(--space-xs)
}

.m-left {
    margin-left: var(--space-xs)
}

.centered {
    margin-left: auto;
    margin-right: auto;
}
