nav.in-this-page {
    margin-block: var(--space-s);

    ol {
        padding-left: var(--space-2xs);
        border-inline-start: 1px solid var(--border-color);
        list-style-type: none;
    }

    li {
        margin-left: var(--space-xs);
        margin-block: var(--space-3xs);

        a {
            color: var(--link-color);
            text-decoration: none;
        }

        &:first-child {
            margin-bottom: var(--space-2xs);
        }

         &:last-child {
            margin-top: var(--space-2xs);
        }
    }
}
