nav {
    margin-block-start: var(--space-m);
    /* min-width: 300px; */
    ul {
        list-style: none;
        padding: 0;

        &.parent {
            .title button {
                position: relative;
                text-decoration: none;
                padding: 8px 12px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 8px;
                color: var(--nav-link-fg);
                background: none;
                border: none;
                width: 100%;
                cursor: pointer;
                
                &:hover {
                    background: var(--nav-link-hv-bg);
                }
                
                svg {
                    position: absolute;
                    right: 12px;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: transform var(--transition-base);
                }
            }

            &.expanded {
                > .title button svg {
                    transform: translateY(-50%) rotate(90deg);
                }
                
                > li > .children {
                    display: block;
                }
            }
        }

        &.children {
            display: none;
            color: var(--nav-link-fg);
            border-inline-start: 1px solid rgb(229, 231, 235);
            margin-inline-start: var(--space-xs-s);

            li a {
                margin-left: var(--space-xs);
            }
        }
    }

    li {
        margin-top: 4px;
        
        a {
            text-decoration: none;
            padding: 8px 12px;
            display: flex;
            align-items: center;
            border-radius: 8px;
            color: var(--nav-link-fg);
            &:hover {
                background: var(--nav-link-hv-bg);
            }
            &.active {
                background: var(--nav-link-active-bg);
            }
        }
    }
}
