nav {
    margin-block-start: var(--space-m);
    ul {
        list-style: none;
        padding: 0;
    }
    li {
        margin-top: 4px;
        a {
            text-decoration: none;
            padding: 8px 12px;
            display: flex;
            align-items: center;
            border-radius: 8px;
            /* font-size: var(--text-size-base); */
            &:hover {
                background: rgb(240, 240, 243);
            }
            &.active {
                background: #1c1c1c;
                color: white;
            }
        }
    }
}
