.overlay {
    display: none;
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 800;
}

@media (max-width: 51.25rem) {
    .overlay.active {
        display: block;
    }
}
