.section {
    .heading {
        display: flex;
        padding-inline: var(--space-s);
        gap: var(--space-xs);
        margin-block: var(--space-2xs)
    }
    
    .buttons {
        display: flex;
        padding-inline: var(--space-xs);
        gap: var(--space-xs);
        margin-block: var(--space-2xs);

        @media (max-width: 903px) {
            flex-direction: column;
            gap: 0;
        }
    }

}