.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-3xs);
    justify-items: center;

    @media (max-width: 51.25rem) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.amipk-logo {
    max-width: 80%;
    margin-inline: auto;
    margin-block: var(--space-s);
}

.team-member-card {
    margin-block: var(--space-s);
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    max-width: 300px;
    padding: var(--space-s);

    span {
        display: block;
        text-align: center;

        &.semibold {
            font-weight: 500;
        }
    }
    picture {
        align-self: center;
    }
    .team-member-photo {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 8px;
    }
}
