.sidebar {
    position: sticky;
    inset-inline-end: 0;
    inset-block-start: 5rem;
    inset-block-end: 0;
    block-size: calc(100vh - 5rem);
    /* top: var(--header-height);
    left: 0;
    bottom: 0;
    width: var(--sidebar-width); */
    border-inline-end: 1px dashed var(--border-color);
    padding-inline: var(--space-xs);
    padding-block-end: var(--space-s);
    background-color: var(--background-color);
}

@media (max-width: 51.25em) {
    /* 820px / 16px = 51.25em */
    .sidebar {
        position: fixed;
        top: var(--header-height);
        left: -100%;
        width: var(--sidebar-width-mobile);
        height: calc(100% - var(--header-height));
        
        transition: left var(--transition-base);
        overflow-y: auto;
        z-index: var(--z-index-sidebar);
        -webkit-overflow-scrolling: touch;
    }

    .sidebar.active {
        left: 0;
    }
}
