/*
  Global styles

  Low-specificity, global styles that apply to the whole
  project: https://cube.fyi/css.html
*/
/* body {
    background: var(--color-light);
    color: var(--color-dark);
    font-size: var(--size-step-0);
    font-family: var(--font-base);
    line-height: var(--leading-standard);
} */

:root {
    color-scheme: light dark;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 12ex;
}

body {
    font-family: var(--font-base);
    font-size: var(--text-size-base);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: var(--leading-standard);
    background-color: var(--background-color);
    color: var(--text-color);
    transition:
        background-color var(--transition-base),
        color var(--transition-base),
        border-color var(--transition-base);
}

body {
    margin: 0;
}

body.menu-open {
    overflow: hidden;
}

.no-transition,
.no-transition * {
    transition: none !important;
}

@media (max-width: 51.25em) {
    /* 820px / 16px = 51.25em */
    .sidebar {
        -webkit-overflow-scrolling: touch; /* Para un scroll suave en iOS */
    }
}

h1,
h2,
h3 {
    line-height: var(--leading-fine);
}

h1 {
    font-size: var(--text-size-heading-1);
}

h2 {
    font-size: var(--text-size-heading-2);
}

h3 {
    font-size: var(--text-size-heading-3);
}

img {
    width: 100%;
    height: auto;
    margin-block: var(--space-s);
}

a.external-link,
a.internal-link {
    color: var(--link-color);
}

ul {
    list-style-type: disc;
}

/* Anything that has been anchored to should have extra scroll margin */
/* :target {
    scroll-margin-block: calc(var(--header-height)+ 2ex);
} */
