:root {
    @utopia typeScale({
        minWidth: 320,          /* Defaults to plugin minWidth */
        maxWidth: 1240,         /* Defaults to plugin maxWidth */
        minFontSize: 18,
        maxFontSize: 20,
        minTypeScale: 1.2,
        maxTypeScale: 1.25,
        positiveSteps: 5,
        negativeSteps: 2,
        relativeTo: 'viewport', /* Optional */
        prefix: 'step'          /* Optional */
      });

    @utopia spaceScale({
        minWidth: 320,             /* Defaults to plugin minWidth */
        maxWidth: 1240,            /* Defaults to plugin maxWidth */
        minSize: 18,
        maxSize: 20,
        positiveSteps: [1.5, 2, 3, 4, 5, 6],
        negativeSteps: [0.75, 0.5, 0.25, 0.125],
        customSizes: ['3xs-xs'],
        relativeTo: 'viewport',    /* Optional */
        prefix: 'space',           /* Optional */
        usePx: false,              /* Optional */
    });

    /* semantic variables */
    --gutter: var(--space-s-m);
    --text-size-small: var(--step--2);
    --text-size-base: var(--step--1);
    --text-size-heading-1: var(--step-1);
    --text-size-heading-2: var(--step-3);
    --text-size-heading-3: var(--step-2);
    --font-base: Inter, sans-serif;
    --leading: 1.5;
    --leading-fine: 1.2;

    --breakpoint: 820px;
    --header-height: var(--space-2xl);
    --sidebar-width: 20rem;
    --sidebar-width-mobile: 80vw;
    --transition-base: 250ms ease;
    --z-index-header: 1000;
    --z-index-sidebar: 900;

    --transition-base: 250ms ease;
    --transition-movement: 200ms linear;
    --transition-fade: 300ms ease;
    --transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);

    /* colors */
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --light-gray: hsl(220 13% 91%);
    --dark-gray: hsl(240 3.7% 15.9%);
    --meta-light: hsl(30 6% 35%);   
    --meta-dark: hsl(30 6% 75%);

}

[color-scheme="light"] {
    --background-color: var(--white);
    --text-color: var(--black);
    --border-color: var(--light-gray);
    --nav-link-hv-bg: var(--light-gray);
    --nav-link-active-bg: var(--light-gray);
    --meta-text-color: var(--meta-light);
}

[color-scheme="dark"] {
    --background-color: var(--black);
    --text-color: var(--white);
    --border-color: var(--dark-gray);
    --nav-link-hv-bg: var(--dark-gray);
    --nav-link-active-bg: var(--dark-gray);
    --meta-text-color: var(--meta-dark);
}
